template(name="Home")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/rasterizehtml/1.2.4/rasterizeHTML.allinone.js" type="text/javascript")
  .navbar-fixed
    nav
      .nav-wrapper
        a(href="#" class="brand-logo")
          img.nav-logo(src="/QDDiderot-logo.png")
          span Que Dirait Diderot ?
        //- <ul id="nav-mobile" class="right hide-on-med-and-down">
        //-   <li><a href="sass.html">Sass</a></li>
        //-   <li><a href="badges.html">Components</a></li>
        //-   <li><a href="collapsible.html">JavaScript</a></li>
        //- </ul>

  .fixed-selection-col
    if state.searchLoading
      .tags-box.center 
        h5 Votre recherche
        .tag Chargement...
    else if state.newSearchId
      .tags-box.center 
        h5 Votre recherche
        each tag in newSearch.originalTags
          .tag #{tag}

    else
      .tags-box.center 
        h5 Votre recherche
      .search-box.input-field
        input#tag-search(placeholder="Entre tes mots-clefs !" type="text" class="validate")
        button#js-send-search(class="btn waves-effect waves-light" type="submit" name="action") Chercher
    .tags-box.center 
      h5 Derniers mots-clés
      each tag in allTags
        .tag(class="{{#if (isSelectedTag tag)}}tag-active{{/if}}") #{tag}

  .page-container
    .row
      .col.s12.m9.offset-m3
        .results-container.center
          if state.newSearchId
            if $eq newSearch.answers.count 0
              h5.results-title Votre requête n'a pas donné de résultat... Réessayez !
              p.js-cancel(style="text-decoration:underline;  color: gray;") Retour
            else
              h5.results-title Choississez un résultat parmi:
              p.js-cancel(style="text-decoration:underline;  color: gray;") Retour
              .results-grid#search-answers-grid
                each answer in newSearch.answers
                  |#{log answer}
                  if answer.text
                    //- Text Img for plain text
                    .result-card.z-depth-1(style="background-color:{{answerColor answer._id}};" data-index=answer._id)
                      .result-buttons
                        a(data-index=answer._id href="").js-validate-answer
                            .share-twitter Valider cette phrase
                      .result-img-header # Que Dirait Diderot ?
                      .result-img-text "#{answer.text}"
                      .result-img-ref #{answer.title}
                  else if answer.finalImage
                    .result-card.z-depth-1(style="background-color:{{answerColor answer._id}};")
                      //- Image only
                      img(src=answer.finalImage)
                  else
                    .result-card.z-depth-1(style="background-color:{{answerColor answer._id}};")
                      //- Image + title
                      img(src=answer.imageUrl)
                      .result-image-title "SWAG "" #{answer.title}


          
          if $eq selectedAnswers.length 0
            if $not state.newSearchId
              h5.results-title Faites une recherche ou cliquez sur des tags !
          else
            h5.results-title Résultats Correspondants
            .results-grid#tags-answers-grid
              each answer in selectedAnswers
                |#{log answer}
                if answer.text
                  .result-card.z-depth-1(style="background-color:{{answerColor answer._id}};" id=answer._id data-index=answer._id )
                    //- Text Img for plain text
                    .result-buttons
                      if $not answer.finalImage
                        .loading(style="display: none;")
                        a(href="")
                          .share-twitter Création du partage twitter...
                      else
                        a(href=answer.finalMessage target="_blank")
                          span.share-twitter
                            i.material-icons share
                            |Twitter
                      
                      a(href=answer.resourceUrl target="_blank")
                        span.open-gallica
                          i.material-icons loupe
                          |Gallica
                    .result-img-header # Que Dirait Diderot ?
                    .result-img-text "#{answer.text}"
                    .result-img-ref #{answer.title}
                    if $not answer.finalImage
                      .loading(style="display: none;")|#{getGoodTwitterImage answer._id}

                else if answer.finalImage
                  .result-card.z-depth-1(style="background-color:{{answerColor answer._id}};")
                    //- Image only
                    .result-buttons
                      a(href=answer.finalMessage target="_blank")
                        span.share-twitter
                          i.material-icons share
                          |Twitter
                      a(href=answer.resourceUrl target="_blank")
                        span.open-gallica
                          i.material-icons loupe
                          |Gallica
                    img(src=answer.finalImage)
                else
                  .result-card.z-depth-1(style="background-color:{{answerColor answer._id}};")
                    //- Image + title
                    .result-buttons
                      a(href=answer.finalMessage target="_blank")
                        span.share-twitter
                          i.material-icons share
                          |Twitter
                      a(href=answer.resourceUrl target="_blank")
                        span.open-gallica
                          i.material-icons loupe
                          |Gallica
                    img(src=answer.imageUrl)
                    .result-image-title SWAG #{answer.title}
  canvas(id="canvas" width="800" height="600" style="opacity: 0; z-index: -99999; position:fixed;")
            


    //- a(href="https://twitter.com/intent/tweet?hashtags=QueDiraitDiderot,Trump&text=yolo+swag&url=http%3A%2F%2Fbit.ly%2F24qiD3N&via=Diderobot")
    //-   .result-card.z-depth-1
    //-     //- Image only
    //-     img(src="https://pbs.twimg.com/media/CxpdUgSXAAASkEZ.jpg")
    //- a(href="https://twitter.com/intent/tweet?hashtags=QueDiraitDiderot,Trump&text=yolo+swag&url=http%3A%2F%2Fbit.ly%2F24qiD3N&via=Diderobot")
    //-   .result-card.z-depth-1
    //-     //- Image + title
    //-     img(src="http://gallica.bnf.fr/ark:/12148/bpt6k934227m/f3.highres")
    //-     .result-image-title  La Revue illustrée du Chat noir : paraissant le samedi
    //- a(href="https://twitter.com/intent/tweet?hashtags=QueDiraitDiderot,Trump&text=yolo+swag&url=http%3A%2F%2Fbit.ly%2F24qiD3N&via=Diderobot")
    //-   .result-card.z-depth-1
    //-     //- Plain text
    //-     .result-text "Vois-tu, mon jeune Trump, tu n'es qu'une nouvelle recrue. Ceci dit pour ton édification, ami Trump, laisse-moi ajouter que je ne plaisantais nullement en exprimant la pensée que nous ne reverrions peut-être plus le Sborg, notre illustre chef."
    //-     .result-image-title Les ravageurs de la mer - 1980 - Louis Jacolliot

  //-Template for HTML to img    
  //- <div style="width:800px;text-align:center;font-size:2rem;"><div style="font-family: 'Abril Fatface';padding: 0.5rem;background-color: white;letter-spacing: 0.4rem;text-transform: uppercase;font-size: 1.6rem;color:#333;"># Que Dirait Diderot ?</div><div style="font-family: 'Abril Fatface';padding: 3rem;color:#333;background-color: #84f7fd;">"${text}"</div><div style="font-family: 'Abril Fatface';padding: 0rem 6rem 2rem;background-color: #84f7fd;text-transform: uppercase;font-size:1.6rem;color:#333;">${ref}</div></div>
