template(name="Home")
  .navbar-fixed
    nav
      .nav-wrapper
        a(href="#" class="brand-logo")
          img.nav-logo(src="/QDDiderot-logo.png")
          span Que Dirait Diderot ?
        //- <ul id="nav-mobile" class="right hide-on-med-and-down">
        //-   <li><a href="sass.html">Sass</a></li>
        //-   <li><a href="badges.html">Components</a></li>
        //-   <li><a href="collapsible.html">JavaScript</a></li>
        //- </ul>

  .container
    .tags-box.center 
      h4 Choisis un mot-clé
      each tag in allTags
        .tag(class="{{#if (isSelectedTag tag)}}tag-active{{/if}}") #{tag}
    
    if state.searchLoading
      #infinite-gif INFINITE GIF LOL
    else if state.newSearchId
      .tags-box.center 
      h4 Votre recherche
      each tag in newSearch.originalTags
        .tag #{tag}



    else
      .search-box.input-field
        input#tag-search(placeholder="Ou entres-en un !" type="text" class="validate")
        button#js-send-search(class="btn waves-effect waves-light" type="submit" name="action") Chercher

  .results-container.center
    if state.newSearchId
      h4.results-title Choississez un résultat parmi:
      each answer in newSearch.answers
        a(href="https://twitter.com/intent/tweet?hashtags=QueDiraitDiderot,Trump&text=yolo+swag&url=http%3A%2F%2Fbit.ly%2F24qiD3N&via=Diderobot")
          if answer.text
            //- Plain text
            .result-card.z-depth-1
              .result-text "#{answer.text}"
              .result-image-title #{answer.title}
          else if answer.finalImage
            .result-card.z-depth-1
              //- Image only
              img(src=answer.finalImage)
          else
            .result-card.z-depth-1
              //- Image + title
              img(src=answer.imageUrl)
              .result-image-title #{answer.title}

    h4.results-title Résultats Correspondants
    each answer in selectedAnswers
      a(href="https://twitter.com/intent/tweet?hashtags=QueDiraitDiderot,Trump&text=yolo+swag&url=http%3A%2F%2Fbit.ly%2F24qiD3N&via=Diderobot")
        if answer.text
          //- Plain text
          .result-card.z-depth-1
            .result-text "#{answer.text}"
            .result-image-title #{answer.title}
        else if answer.finalImage
          .result-card.z-depth-1
            //- Image only
            img(src=answer.finalImage)
        else
          .result-card.z-depth-1
            //- Image + title
            img(src=answer.imageUrl)
            .result-image-title #{answer.title}

    //- a(href="https://twitter.com/intent/tweet?hashtags=QueDiraitDiderot,Trump&text=yolo+swag&url=http%3A%2F%2Fbit.ly%2F24qiD3N&via=Diderobot")
    //-   .result-card.z-depth-1
    //-     //- Image only
    //-     img(src="https://pbs.twimg.com/media/CxpdUgSXAAASkEZ.jpg")
    //- a(href="https://twitter.com/intent/tweet?hashtags=QueDiraitDiderot,Trump&text=yolo+swag&url=http%3A%2F%2Fbit.ly%2F24qiD3N&via=Diderobot")
    //-   .result-card.z-depth-1
    //-     //- Image + title
    //-     img(src="http://gallica.bnf.fr/ark:/12148/bpt6k934227m/f3.highres")
    //-     .result-image-title  La Revue illustrée du Chat noir : paraissant le samedi
    //- a(href="https://twitter.com/intent/tweet?hashtags=QueDiraitDiderot,Trump&text=yolo+swag&url=http%3A%2F%2Fbit.ly%2F24qiD3N&via=Diderobot")
    //-   .result-card.z-depth-1
    //-     //- Plain text
    //-     .result-text "Vois-tu, mon jeune Trump, tu n'es qu'une nouvelle recrue. Ceci dit pour ton édification, ami Trump, laisse-moi ajouter que je ne plaisantais nullement en exprimant la pensée que nous ne reverrions peut-être plus le Sborg, notre illustre chef."
    //-     .result-image-title Les ravageurs de la mer - 1980 - Louis Jacolliot

  //-Template for HTML to img    
  //- <div style="width: 400px;">
  //-   <div style="font-family: 'Abril Fatface';padding: 0.5rem;background-color: white;letter-spacing: 0.4rem;text-transform: uppercase;font-size: 0.8rem;color:#333;"># Que Dirait Diderot ?</div>
  //-   <div style="font-family: 'Abril Fatface';padding: 1.5rem;color:#333;background-color: #84f7fd;">"Vois-tu, mon jeune Trump, tu n'es qu'une nouvelle recrue. Ceci dit pour ton édification, ami Trump, laisse-moi ajouter que je ne plaisantais nullement en exprimant la pensée que nous ne reverrions peut-être plus le Sborg, notre illustre chef."</div>
  //-   <div style="font-family: 'Abril Fatface';padding: 0rem 3rem 1rem;background-color: #84f7fd;text-transform: uppercase;font-size:0.8rem;color:#333;">Les ravageurs de la mer - 1980 - Louis Jacolliot</div>
  //- </div>
